
# Node.js dependencies
node_modules/

# Vite output
dist/
.vitepress/
*.local

# macOS system files
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env*
!.env.example

# Editor directories and files
.idea/
.vscode/

# Optional: mocks data or temporary test files
mock-data/
